.App {
  text-align: center;
  background: url(../img/background.jpg);
  background-attachment: fixed;
  overflow: scroll;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}
