.link {
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.link:hover {
    text-decoration: none;
    font-weight: 600;
}

p {
    font-weight: 600;
    text-decoration: none;
}

.none{
    text-decoration: none;
}
.card {
  justify-content: center !important; 
  margin: auto;
  margin-top: 5%;
  opacity:0.85;
  text-decoration: none;
}

