.card {
  margin: 20px;
  width: 18rem;
  background: rgb(180, 180, 180);
  border: none;
  border-radius: 2%;
  box-shadow: 0px 31px 35px -26px #080c21;
  font-family: 'Roboto', sans-serif;
  opacity: 0.80
}

.iconoClima {
  margin-top: 35%;
  margin-left: -5%;
}

.card-title {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 35px;
  color: rgb(48, 97, 33);
  text-decoration: none rgb(48, 97, 33);
  text-align: left;
}

.card-title:hover{
  text-decoration: none;
  color:#244b1c;
}


#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: -7%;
  margin-top: -28%;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.temp {
  font-size: 80px;
  margin-left: 15%;
}